
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/profiles/
/native/engine/android/**/*/assets
/settings/v2/packages/cocos-service.json
/settings/v2/packages/information.json

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
