<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>plist_head_female_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_female_1000</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_female_2</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_female_3</key>
            <dict>
                <key>frame</key>
                <string>{{441,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_female_4</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_female_5</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_female_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_male_1</key>
            <dict>
                <key>frame</key>
                <string>{{147,147},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_male_2</key>
            <dict>
                <key>frame</key>
                <string>{{294,147},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_male_3</key>
            <dict>
                <key>frame</key>
                <string>{{441,147},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_male_4</key>
            <dict>
                <key>frame</key>
                <string>{{588,147},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_male_5</key>
            <dict>
                <key>frame</key>
                <string>{{735,147},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>plist_head_male_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_head.png</string>
            <key>size</key>
            <string>{880,439}</string>
            <key>textureFileName</key>
            <string>plist_head.png</string>
        </dict>
    </dict>
</plist>